/* form{
   background-color: rgba(198, 193, 240, 0.945); 
}
input{
    background-color: rgb(122, 230, 167);
    min-width: 20%;
    max-width: 20%;
    align-items: flex-start;
    font-size: 20px;
}
textarea{
    background-color: rgb(137, 185, 240);
    min-width: 20%;
    max-width: 20%;
    align-items: flex-start;
    font-size: 20px; 
} */